<ul>
	<li><a href="{{ path('gitsynccommitview') }}" target="_blank">View commit</a></li>
	<li><a href="{{ path('gitsyncpull') }}" target="_blank">Pull</a></li>
	<li><a href="{{ path('gitsyncconfig') }}" target="_blank">Configuration</a></li>
</ul>